<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Make it rain</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css" />
  <link rel="stylesheet" href="/static/css/style.css" media="all">
</head>
<body>
  <nav class="nav has-shadow" style="background-color: #00d1b2;">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="/static/makeitrain.png" alt="Make it Rain">
      </a>

      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
  <div class="section">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
